html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

.container .credit {
	margin: 20px 0;
}

.registration {
	width:145px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
}

.filters {
	width:70px;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
}

.planentry-options {
	left:10px;
	bottom:3px;
	position:absolute;
}

.planentry-empty-options {
	text-align: center;
	position:relative;
	font-size:16px;
}

.planentry-empty-options button {
	color:#BBBBBB;
    background:none!important;
    border:none; 
    padding:0!important; }

.planentry-empty-options button:hover {
	color:#2a6496;
	text-decoration:none;
}

.planentry-options button {
	color:#777777;
    background:none!important;
    border:none; 
    padding:0!important; 
}

.planentry-options button:hover {
	color:#2a6496;
	text-decoration:none;
}